php_value upload_max_filesize    8047M
php_value post_max_size          8047M
php_value max_execution_time     40800
php_value max_execution_time     40800






RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?path=$1 [QSA,L]